The Bakery dataset contains transactional records for a small bakery in Korea, and is available on [Kaggle](https://www.kaggle.com/datasets/hosubjeong/bakery-sales?select=Bakery+Sales.csv). The variables are introduced below:

| Column name | Description |
| :---------- | :---------- |
| datetime    | The time and date of order|
| day of week | Day of the week of order (usually closed on Tuesdays)|
| total       | The total order amount (KRW) |
| place       | The customer's location |
|*remaining columns* | The name of the food/drink item |

In [1]:
import pandas as pd

In [15]:
bakery = pd.read_csv('/content/drive/MyDrive/Data/Bakery_sales/Bakery_Sales.csv')
bakery = bakery[0:2405] # select dates: 2019-07-11 - 2020-04-30

In [16]:
bakery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2405 entries, 0 to 2404
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            2405 non-null   object
 1   day of week         2405 non-null   object
 2   total               2405 non-null   float64
 3   place               2151 non-null   object
 4   angbutter           1962 non-null   float64
 5   plain bread         852 non-null    float64
 6   jam                 220 non-null    float64
 7   americano           408 non-null    float64
 8   croissant           741 non-null    float64
 9   caffe latte         191 non-null    float64
 10  tiramisu croissant  771 non-null    float64
 11  cacao deep          321 non-null    float64
 12  pain au chocolat    582 non-null    float64
 13  almond croissant    200 non-null    float64
 14  croque monsieur     0 non-null      float64
 15  mad garlic          0 non-null      float64
 16  milk tea            137 non-null    float64
 17  gateau chocolat     196 non-null    float64
 18  pandoro             343 non-null    float64
 19  cheese cake         88 non-null     float64
 20  lemon ade           35 non-null     float64
 21  orange pound        515 non-null    float64
 22  wiener              354 non-null    float64
 23  vanila latte        208 non-null    float64
 24  berry ade           53 non-null     float64
 25  tiramisu            7 non-null      float64
 26  merinque cookies    46 non-null     float64
dtypes: float64(24), object(3)
memory usage: 507.4+ KB

In [18]:
# "croque monsieur" and "mad garlic" were never purchased, so these columns will be removed
bakery.drop(bakery.columns[[14, 15]], axis=1, inplace=True)

In [20]:
bakery.head()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11 15:35,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,2019-07-11 16:10,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,2019-07-12 11:49,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-13 13:19,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,2019-07-13 13:22,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# the datetime format is already suitable for Tableau

In [21]:
# writing pre-processed dataset to excel file for Tableau visualisations.
bakery.to_excel('Bakery.xlsx', sheet_name='Data')